*, *::before, *::after {
  box-sizing: border-box;

}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
ul , ol {
  list-style-type: none;
  padding:0;
  
}

a {
  text-decoration: none;
  color: inherit;
}

.icon{
  width: 1em;
  height: 1em;
}

.container{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
}

header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: aqua;
}
nav{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: blue;
    display: grid;
}
.topIcons, .topLinks{
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(6,1fr);
}

li{
  align-self: center;
}

.contenidoPrincipal{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    
}
.contenidoPrincipal > section {
    grid-column: 1/3;
    grid-row: 1/4;
    background-color: aquamarine;
}

.contenidoPrincipal > uno{
    grid-column: 3/4;
    grid-row:1/2;
    background-color: aliceblue;
}

.contenidoPrincipal > dos{
    grid-column: 3/4;
    grid-row:3/4;
    background-color: aliceblue;
}

